---
Checks: >
  *,
  -fuchsia-*,
  -google-readability-braces-around-statements,
  -hicpp-braces-around-statements,
  -readability-braces-around-statements,
  -llvm-header-guard,
  -altera-*,
  -abseil-*,
  -modernize-use-trailing-return-type,
  -llvmlibc-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-c-arrays,
  -hicpp-avoid-c-arrays,
  -modernize-avoid-c-arrays,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -misc-non-private-member-variables-in-classes,
  -bugprone-easily-swappable-parameters,
  -misc-use-anonymous-namespace,
  -misc-include-cleaner,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -performance-unnecessary-value-param,
  -cppcoreguidelines-special-member-functions,
  -hicpp-special-member-functions,
  -bugprone-misplaced-widening-cast,
  -hicpp-use-emplace,
  -modernize-use-emplace,
  -readability-math-missing-parentheses,
  -cppcoreguidelines-pro-type-vararg,
  -hicpp-vararg,
  -misc-const-correctness,
  -readability-redundant-casting,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -hicpp-no-array-decay,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -hicpp-uppercase-literal-suffix,
  -readability-uppercase-literal-suffix,
  -llvm-prefer-static-over-anonymous-namespace,
  -cert-err34-c,
  -clang-diagnostic-unused-private-field,
  -readability-implicit-bool-conversion,
  -hicpp-signed-bitwise,
  -clang-diagnostic-deprecated-declarations,
  -modernize-pass-by-value,
  -cppcoreguidelines-prefer-member-initializer,
  -portability-template-virtual-member-function

WarningsAsErrors: ''

HeaderFilterRegex: '(lib|example)/.*\.(h|hpp|inl)$'

SystemHeaders: false

CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.FunctionCase
    value: CamelCase
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: '_'
  - key: readability-identifier-naming.StructCase
    value: CamelCase
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.NamespaceCase
    value: CamelCase
  - key: readability-identifier-naming.ConstantCase
    value: CamelCase
  - key: readability-identifier-naming.ConstantPrefix
    value: 'k'
  - key: google-readability-namespace-comments.ShortNamespaceLines
    value: '10'
  - key: google-readability-namespace-comments.SpacesBeforeComments
    value: '2'
