[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/ThreadPool"]
	path = external/ThreadPool
	url = https://github.com/progschj/ThreadPool.git
[submodule "external/thread-pool"]
	path = external/thread-pool
	url = https://github.com/bshoshany/thread-pool.git
